@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;

    /* === Z-INDEX === */
    --z-fixed: 10;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--body-bg-color);
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav_text {
    display: block;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color);
}

h2 {
    font-weight: 500;
    color: var(--text-color);
}

.logo {
    display: none;
}

#icon-menu, .logo_out {
    cursor: pointer;
    transition: .5s;
}

.side_bar {
    display: flex;
    flex-direction: column;
    width: 78px;
    height: 100vh;
    background-color: var(--green);
    position: fixed;
    left: 0;
    padding: 0px 14px;
    transition: all .5s ease;
    z-index: var(--z-fixed);
}

.header_side_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px 0px;
    width: 100%;
    margin: 0 auto;
}

.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}


.nav 
.nav_list {
    display: flex;
    flex-direction: column;
    gap: 20.08px;
    width: 100%;
}

.nav 
.nav_list
.nav_link {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 13px;
    height: 50px;
    cursor: pointer;
    transition: .3s;
}

.nav
.nav_list
.nav_link img, .logo {
    padding-left: 13px;
}

.nav 
.nav_list 
.nav_link:hover {
    background-color: var(--light-green);
    border-radius: 12px;
}

.container_user {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-green);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 14px;
    overflow: hidden;
}

.container_user
.user {
    display: none;
    align-items: center;
    gap: 9px;
}

.container_user
.user
.user_photo {
    width: 45px;
    height: 45px;
    background-color: #18c29c;
    border-radius: 12px;
}

.container_user
.user
.user_info p:nth-child(1){
    font-weight: 400;
    font-size: 15px;
}

.container_user
.user
.user_info p:nth-child(2){
    font-weight: 400;
    font-size: 12px;
}

.main {
    margin: 20px 98px;
    transition: .5s;
}



/* ==== SHOW ==== */

.active {
    display: block;
}

.show {
    width: 250px;
}

.container_user
.active_flex {
    display: flex;
}

.active_space_between {
    justify-content: space-between;
}

.active_background {
    background-color: var(--light-green);
    border-radius: 12px;
}

.active_margin_main {
    margin: 20px 270px;
    transition: .5s;
}





